html {
     box-sizing: border-box;
}
 *, *::before, *::after {
     box-sizing: inherit;
}
 html, body {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
}
 body {
     background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
     font-family: 'Coda', cursive;
}
 .container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
 h1 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
}
/* * Styles for the deck of cards */
 .deck {
     width: 660px;
     min-height: 680px;
     background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
     padding: 32px;
     border-radius: 10px;
     box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     margin: 0 0 3vw;
}
 .deck .card {
     height: 125px;
     width: 125px;
     background: #2e3d49;
     font-size: 0;
     color: #ffffff;
     border-radius: 8px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}
 .deck .card.open {
     transform: rotateY(0);
     background: #02b3e4;
     cursor: default;
     -webkit-animation: flipInY .75s;
     animation: flipInY .75s;
}
 .deck .card.show {
     font-size: 33px;
}
 .deck .card.match {
     cursor: default;
     background: #02ccba;
     font-size: 33px;
     animation: pulse .75s;
}
.win{
   animation: rubberBand .75s;
}
/* * Styles for the Score Panel */
 .score-panel {
     text-align: left;
     width: 345px;
     margin-bottom: 10px;
}
 .score-panel .stars {
     margin: 0;
     padding: 0;
     display: inline-block;
     margin: 0 2vw 0 0;
}
 .score-panel .stars li {
     list-style: none;
     display: inline-block;
     color: #FFD700;
}
 .stars-modal li {
     list-style: none;
     display: inline;
     color: #FFD700;
     font-size: 3vw;
}
 .score-panel .restart {
     float: right;
     cursor: pointer;
}
/*--------------- added */
 .timer {
     float: right;
     margin-right: 2vw;
}
/* The Modal (background) */
 .modal {
     display: none;
    /* Hidden by default */
     position: fixed;
    /* Stay in place */
     z-index: 1;
    /* Sit on top */
     padding-top: 100px;
    /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
    /* Full width */
     height: 100%;
    /* Full height */
     overflow: auto;
    /* Enable scroll if needed */
     background-color: rgb(0,0,0);
    /* Fallback color */
     background-color: rgba(0,0,0,0.4);
    /* Black w/ opacity */
     ;
}
/* Modal Content */
 .modal-content {
    /*position: relative;
     */
     background-color: #fefefe;
     margin: auto;
     padding: 0;
     border: 1px solid #888;
     border-radius: 15px;
     width: 25%;
     height: 40%;
     overflow: hidden;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s;
}

/* The Close Button */
 .close {
     color: white;
     float: right;
     font-size: 28px;
     font-weight: bold;
}
 .close:hover, .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
}
.modal-body{
  display: block;
  width: 60%;
  margin: auto;
  font-size: 1.1vw;
}
 .modal-header {
   display: flex;
   flex-direction: row-reverse;
   align-items:center;
   background-color: #02ccba;
   width: 100%;
   margin: auto;
   height: 20%;
   color: white;
   border-radius: 5px;
   padding-left: 1vw;
   padding-right: 1vw;
}
.resultTitle{
  width: 100%;
  margin: auto;
  align:center;
  font-size: 1.5vw;
}
#result{
  width: 100%;
  margin: auto;
}
 #successIcon {

    margin-left: 35%;
    color: #02ccba;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 3.5vw;
    align-items: center;
}

 @media screen and (max-width: 660px) {
     .deck{
         width:580px;
         height: 600px;
         margin:auto;
    }
}
 @media screen and (max-width: 580px) {
     .deck{
         width:480px;
         height: 500px;
         margin:auto;
    }
     .deck .card{
         width: 100px;
         height: 110px;
    }
}
 @media screen and (max-width: 480px) {
     .deck{
         width:400px;
         height: 410px;
         margin:auto;
    }
     .deck .card{
         width: 80px;
         height: 100px;
    }
}
